@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Your random number is @Model.RandomNumber and that's my favorite number!</p>
</div>
